localhost:80 {    
    handle_path /files* {
        root * /opt/data
        file_server {
            browse
            hide .git .DS_Store
        }
    }

    handle_path /service/* {
        reverse_proxy stac:8080
    }

    log stdout
}

stac.sogeo.services {    
    tls stefan.ziegler.de@gmail.com 

    handle_path /files* {
        root * /opt/data
        file_server {
            browse
            hide .git .DS_Store
        }
    }

    handle_path /service/* {
        reverse_proxy stac:8080
    }

    log stdout
}