(cors) {
    @cors_preflight method OPTIONS

    header {
        Access-Control-Allow-Origin "*"
        Vary Origin
        Access-Control-Expose-Headers "*"
        #Access-Control-Allow-Credentials "true"
    }

    handle @cors_preflight {
        header {
            Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE"
            Access-Control-Max-Age "3600"
        }
        respond "" 204
    }
}

localhost:80 {    
    handle_path /files* {
        root * /opt/data
        file_server {
            browse
            hide .git .DS_Store
        }
    }

    handle_path /service/* {
        reverse_proxy stac:8080
    }

    log stdout
}

stac.sogeo.services {    
    tls stefan.ziegler.de@gmail.com 
    #tls stefan.ziegler.de@gmail.com {
    #    ca https://acme-staging-v02.api.letsencrypt.org/directory
    #}

    handle_path /files* {
        root * /opt/data
        file_server {
            browse
            hide .git .DS_Store
        }
    }

    reverse_proxy stac:8080
    #handle_path /service/* {
    #    reverse_proxy stac:8080
    #}

    import cors {header.origin}

    log stdout
}